.app {
  margin: 0 auto;
  padding: 20px;
}

.filter {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter h3 {
  margin-top: 0;
}

.filter label {
  display: block;
  margin: 5px 0;
}

.list h3 {
  margin-top: 0;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:nth-child(2n) {
  background-color: rgb(20, 20, 20);
}

.header {
  position: sticky;
  font-weight: bold;
}

.cell {
  text-align: left;
  padding: 2px;
}

.rank {
  width: 3rem;
}

.game {
  flex-grow: 100;
  flex-shrink: 100;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 100;
  flex-shrink: 100;
}

@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}
